<h1> Sign Up </h1>

<!--Form needs some refactoring-->

<div class="row">
  <div class="col-md-6 col-md-offset-5">
    <!-- Following is for error checking validation -->
    <%= form_for(@person) do |f| %>
      <% if @person.errors.any? %>
        <div class="error_messages">
          <h2> Oops! Some errors occurred! </h2>
          <ul>
            <% @person.errors.full_messages.each do |msg| %>
              <li> <%= msg %> </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <!-- End of error checking.. -->

    <!-- Text fields for signing up:  -->
    <%= f.label :email %>
    <br>
    <%= f.text_field :email %>
    <br>
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
    <br>
    <%= f.label :password %>
    <br>
    <%= f.password_field :password %>
    <br>
    <%= f.label :password_confirmation %>
    <br>
    <%= f.password_field :password_confirmation %>
    <br>
    <br>
    <%= f.submit "Create my account", class: "btn btn-primary" %>

    <% end %>
    <p> Already have an account? <%= link_to "Log in", log_in_path %> </p> 
  </div>
</div>
