
<% provide(:title, "User Profile") %>
  <h1 class="titles">User Profile</h1>
  <hr>
	<div class="container-fluid">

      <div class="col-md-4">
        <div class="text-center">
          <%= image_tag(@person.avatar, :size=> "250x250", :alt=> "profie_pic")%>
					<%= form_for(@person) do |f| %>
						<%= f.label :avatar, 'Change picture' %>
						<%= f.file_field :avatar %>
            <%= f.submit "Change", class: "btn btn-primary" %>
					<% end %>
        </div>
          <div class="text-center"><h3> Listing favorited restaurants. </h3></div>
          <div class="text-center">
            <table style="width:100%">
              <tr>
                <th> Name </th>

              </tr>
              <% if !@person.favorites.nil? %>
                <% @person.favorites.each do |favorite_restaurant| %>

                  <tr>
                    <td><%= favorite_restaurant.name %> </td>

                    <td><%= link_to "view", restaurant_path(favorite_restaurant) %></td>
                    <% if current_user.admin? %>
                      <td><%= link_to "edit", edit_restaurant_path(favorite_restaurant) %> </td>
                      <td><%= link_to "Delete", restaurant_path(favorite_restaurant), method: :delete,
                                    data: { confirm: 'Are you sure?' } %></td>
                    <% end %>
                  </tr>
                <% end %>
              <% end %>
            </table>
            <!--------------------------- ---------------------------------------->
            <table class="table table-hover">
              <thead> 
                <th> People with mutal intrests. </th>
                <th> Name </th>
              </thead>
              <tbody>
                <% if !@person.favorites.nil? %>
                  <% @person.favorites.each do |favorite_restaurant| %>
                    <% favorite_restaurant.favorite_restaurants.each do |favorited_by| %>
                    <% if favorited_by.person != current_user %>
                      <tr>
                        <td>
                          <%= link_to favorite_restaurant.name, restaurant_path(favorite_restaurant) %>
                        </td>
                        <td>
                          <%= link_to favorited_by.person.name, person_path(favorited_by.person) %> 
                        </td>
                      </tr>
                    <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
            </table>



            <!-------------------------- ------------------------------------------>

          </div>
      </div>
      <div class="col-md-8 personal-info">

        <h3>Personal info</h3>

        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-md-4 personLable">User Name: </div>
            <div class="col-md-7 personInfo"><%= @person.name %></div>
          </div>

          <div class="form-group">
            <div class="col-md-4 personLable">User Email: </div>
            <div class="col-md-7 personInfo"><%= @person.email %></div>
          </div>
          <div class="form-group">
            <div class="col-md-4 personLable">Gender:</div>
            <div class="col-md-7 personInfo">
              <%= @person.gender %>
              </div>
           </div>
          <div class="form-group">
            <div class="col-md-4 personLable">Company: </div>
            <div class="col-md-7 personInfo"><%= @person.company %> </div>
          </div>
          <div class="form-group">
            <div class="col-md-4 personLable">Address: </div>
            <div class="col-md-7 personInfo"><%= @person.address %></div>
          </div>
          <div class="form-group">
            <div class="col-md-4 personLable">My Bio: </div>
            <div class="col-md-7 personInfo"><%= @person.bio %></div>
          </div>
          <div class="text-center first_group">
            <% if !@person.location.blank? %>
                <%= link_to "Restaurants near you", location_path(@person.location_id),class:"btn btn-info btn-defult" %>
                
            <% end %>


            <%= link_to "All restaurants", restaurants_path, class:"btn btn-info btn-defult" %>
            <%= link_to "View all locations", locations_path,class:"btn btn-info btn-defult" %>

              </div>
            <div class="text-center second_group">

              <% if current_user?(@person) && !current_user.admin? %>
                <%= link_to 'Edit Your Profile' , edit_person_path,class:"btn btn-info btn-defult", id:"not_admin_buttons"%>
              <% end %>
              <% if current_user.admin? %>
                <%= link_to "Edit Profile", edit_person_path, class:"btn btn-info btn-defult" %>
                <%= link_to "Create restaurant", new_restaurant_path,class:"btn btn-info btn-defult" %>
                <%= link_to "Create location", new_location_path,class:"btn btn-info btn-defult" %>
              <% end %>
            </div>
          </div>
        </form>
      </div>
      </div>
      </div>
      <hr>
