
<% provide(:title, "User Profile") %>
  <h1>User Profile</h1>
  <hr>
	<div class="container">

      <div class="col-md-3">
        <div class="text-center">
          <%= image_tag(@person.avatar, :size=> "250x250", :alt=> "profie_pic")%>
					<%= form_for(@person) do |f| %>
						<%= f.label :avatar, 'Change picture' %>
						<%= f.file_field :avatar %>
            <%= f.submit "Change", class: "btn btn-primary" %>
					<% end %>
        </div>
      </div>
      <div class="col-md-9 personal-info">

        <h3>Personal info</h3>

        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-md-4 personLable">User Name: </div>
            <div class="col-md-7 personInfo"><%= @person.name %></div>
          </div>

          <div class="form-group">
            <div class="col-md-4 personLable">User Email: </div>
            <div class="col-md-7 personInfo"><%= @person.email %></div>
          </div>
          <div class="form-group">
            <div class="col-md-4 personLable">Gender:</div>
            <div class="col-md-7 personInfo">
              <%= @person.gender %>
              </div>
           </div>
          <div class="form-group">
            <div class="col-md-4 personLable">Company: </div>
            <div class="col-md-7 personInfo"><%= @person.company %> </div>
          </div>
          <div class="form-group">
            <div class="col-md-4 personLable">Address: </div>
            <div class="col-md-7 personInfo"><%= @person.address %></div>
          </div>
          <div class="form-group">
            <div class="col-md-4 personLable">My Bio: </div>
            <div class="col-md-7 personInfo"><%= @person.bio %></div>
          </div>
          <h1> Listing favorited restaurants. </h1>
          <div>
            <table>
              <tr>
                <th> Name </th>
              </tr>
              <% if !@person.favorites.nil? %>
                <% @person.favorites.each do |favorite_restaurant| %>

                  <tr>
                    <th><%= favorite_restaurant.name %> </th>
                    <th><%= link_to "view", restaurant_path(favorite_restaurant) %></th>
                    <% if current_user.admin? %>
                      <th><%= link_to "edit", edit_restaurant_path(favorite_restaurant) %> </th>
                      <th><%= link_to "Delete", restaurant_path(favorite_restaurant), method: :delete,
                                    data: { confirm: 'Are you sure?' } %></th>
                    <% end %>
                  </tr>
                <% end %>
              <% end %>
            </table>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <% if current_user?(@person) %>
                <%= link_to 'Edit Your Profile' , edit_person_path %>
              <% end %>


              <% if !@person.location.blank? %>
                <%= link_to "View restaurants", location_path(@person.location_id) %>
                <%= link_to "View all locations", locations_path %>
              <% end %>

              <% if current_user.admin? %>
              <p>
                <%= link_to "Create restaurant", new_restaurant_path %>
              </p>
              <p>
                <%= link_to "Create location", new_location_path %>
              </p>
              <% end %>
            </div>
          </div>
        </form>
      </div>
      </div>
      </div>
      <hr>
