<!--<% provide(:title, "User Profile") %>-->
<!--  <h1>User Profile</h1>-->
<!--  <hr>-->
<!--	<div class="container">-->

<!--      <div class="col-md-3">-->
<!--        <div class="text-center">-->
<!--          <%= image_tag(@person.avatar, :size=> "250x250", :alt=> "profie_pic")%>-->
<!--					<%= form_for(@person) do |f| %>-->
<!--						<%= f.label :avatar, 'Change picture' %>-->
<!--						<%= f.file_field :avatar %>-->
<!--					<% end %>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-9 personal-info">-->

<!--        <h3>Personal info</h3>-->

<!--        <form class="form-horizontal" role="form">-->
<!--          <div class="form-group">-->
<!--            <div class="col-md-4 personLable">User Name: </div>-->
<!--            <div class="col-md-7 personInfo"><%= @person.name %></div>-->
<!--          </div>-->

<!--          <div class="form-group">-->
<!--            <div class="col-md-4 personLable">User Email: </div>-->
<!--            <div class="col-md-7 personInfo"><%= @person.email %></div>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <div class="col-md-4 personLable">Gender:</div>-->
<!--            <div class="col-md-7 personInfo">-->
<!--              <%= @person.gender %>-->
<!--              </div>-->
<!--           </div>-->
<!--          <div class="form-group">-->
<!--            <div class="col-md-4 personLable">Company: </div>-->
<!--            <div class="col-md-7 personInfo"><%= @person.company %> </div>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <div class="col-md-4 personLable">Address: </div>-->
<!--            <div class="col-md-7 personInfo"><%= @person.address %></div>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <div class="col-md-4 personLable">My Bio: </div>-->
<!--            <div class="col-md-7 personInfo"><%= @person.bio %></div>-->
<!--          </div>-->
<!--          <h1> Listing favorited restaurants. </h1>-->
<!--          <div>-->
<!--            <table>-->
<!--              <tr>-->
<!--                <th> Name </th>-->
<!--              </tr>-->
<!--              <% @person.favorite_restaurants.each do |favorite_restaurant| %>-->

<!--                <tr>-->
<!--                  <td><%= favorite_restaurant.restaurant.name %> </td>-->
                  
<!--                </tr>-->
<!--              <% end %>-->
<!--            </table>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label class="col-md-3 control-label"></label>-->
<!--            <div class="col-md-8">-->
<!--              <%= link_to 'Edit Your Profile' , edit_person_path %>-->
<!--              <%= link_to "View restaurants", controller: 'restaurants' %>-->

<!--            </div>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--      </div>-->
<!--      </div>-->
<!--      <hr>-->



<% provide(:title, "User Profile") %>
  <h1>User Profile</h1>
  <hr>
	<div class="container">

      <div class="col-md-3">
        <div class="text-center">
          <%= image_tag(@person.avatar, :size=> "250x250", :alt=> "profie_pic")%>
					<%= form_for(@person) do |f| %>
						<%= f.label :avatar, 'Change picture' %>
						<%= f.file_field :avatar %>
            <%= f.submit "Change", class: "btn btn-primary" %>
					<% end %>
        </div>
      </div>
      <div class="col-md-9 personal-info">

        <h3>Personal info</h3>

        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-md-4 personLable">User Name: </div>
            <div class="col-md-7 personInfo"><%= @person.name %></div>
          </div>

          <div class="form-group">
            <div class="col-md-4 personLable">User Email: </div>
            <div class="col-md-7 personInfo"><%= @person.email %></div>
          </div>
          <div class="form-group">
            <div class="col-md-4 personLable">Gender:</div>
            <div class="col-md-7 personInfo">
              <%= @person.gender %>
              </div>
           </div>
          <div class="form-group">
            <div class="col-md-4 personLable">Company: </div>
            <div class="col-md-7 personInfo"><%= @person.company %> </div>
          </div>
          <div class="form-group">
            <div class="col-md-4 personLable">Address: </div>
            <div class="col-md-7 personInfo"><%= @person.address %></div>
          </div>
          <div class="form-group">
            <div class="col-md-4 personLable">My Bio: </div>
            <div class="col-md-7 personInfo"><%= @person.bio %></div>
          </div>

          <div class="text-center"><h3> Listing favorited restaurants. </h3></div>
          
          <div class="form-group">
            <div class="col-md-4 personLable">Restaurants Name:</div>
           
          <div class="col-md-7 personInfo">
            <% @person.favorite_restaurants.each do |favorite_restaurant| %>
            
            <%= favorite_restaurant.restaurant.name %>, <% end %></div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <%= link_to 'Edit Your Profile' , edit_person_path %>
              
              <%= link_to "View restaurants", controller: 'restaurants' %>

            </div>
          </div>
        </form>
      </div>
      </div>
      </div>
      <hr>
