<% provide(:title, "User Profile") %> 

<h1> My Profile </h1>

<p>
	<strong> Name: </strong> 
	<%= @person.name %>
</p>

<p> 
	<strong> Company: </strong> 
	<%= @person.company %> 
<p>

<p>
	<strong> Address: </strong> 
	<%= @person.address %>
</p>

<p> 
	<strong> My Bio: </strong> 
	<%= @person.bio %>
</p>

<%= link_to 'Edit Profile' , edit_person_path %>