<!--<% provide(:title, "User Profile") %> -->

<!--<h1> My Profile </h1>-->
<!--<%= image_tag(@person.avatar, :size=> "150x150", :alt=> "profie_pic")%>-->
<!--<p>-->
<!--	<strong> Name: </strong> -->
<!--	<%= @person.name %>-->
<!--</p>-->

<!--<p>-->
	<strong> Gender: </strong>
<!--	<%= @person.gender %>-->
<!--</p>-->

<!--<p> -->
<!--	<strong> Company: </strong> -->
<!--	<%= @person.company %> -->
<!--<p>-->

<!--<p>-->
<!--	<strong> Address: </strong> -->
<!--	<%= @person.address %>-->
<!--</p>-->

<!--<p> -->
<!--	<strong> My Bio: </strong> -->
<!--	<%= @person.bio %>-->
<!--</p>-->


<!--<%= link_to 'Edit Profile' , edit_person_path %>-->





<% provide(:title, "User Profile") %>
  <h1>User Profile</h1>
  <hr>
	<div class="container">
      
      <div class="col-md-3">
        <div class="text-center">
          <%= image_tag(@person.avatar, :size=> "150x150", :alt=> "profie_pic")%>
  
        </div>
      </div>
      <div class="col-md-9 personal-info">
       
        <h3>Personal info</h3>
        
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-md-4 personLable">User Name: </div>
            <div class="col-md-7 personInfo"><%= @person.name %></div>
          </div>
          
          <div class="form-group">
            <div class="col-md-4 personLable">User Email: </div>
            <div class="col-md-7 personInfo"><%= @person.email %></div>
          </div>
          <div class="form-group">
            <div class="col-md-4 personLable">Gender:</div>
            <div class="col-md-7 personInfo">
              <%= @person.gender %>
              </div>
           </div>
          <div class="form-group">
            <div class="col-md-4 personLable">Company: </div>
            <div class="col-md-7 personInfo"><%= @person.company %> </div>
          </div>
          <div class="form-group">
            <div class="col-md-4 personLable">Address: </div>
            <div class="col-md-7 personInfo"><%= @person.address %></div>
          </div>
          <div class="form-group">
            <div class="col-md-4 personLable">My Bio: </div>
            <div class="col-md-7 personInfo"><%= @person.bio %></div>
          </div>
         
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <%= link_to 'Edit Your Profile' , edit_person_path %>
             
            </div>
          </div>
        </form>
      </div>
      </div>
      </div>
      <hr> 
