<% provide(:title, "User Profile") %>
<h1> User Profile </h1>
<div class="row">
<div class="col-xs-3"><!--here is the place to add the pic if we can link to the facebook</p>-->

<%=image_tag("default_pic.jpg",:size => "150x150", :alt => "default_pic")%>
</div> 
  <div class="col-xs-9">
 
    <p><strong> User Name: </strong><%= @person.name %></p>
    <p><strong> User's email: </strong><%= @person.email %></p>
    
    <p><%= link_to "Change the password", edit_person_path(@person) %></p>
    <p><%= link_to "Delete your account", @person, data: {confirm: "Are you sure?"}, :method => :delete %></p>
  </div>
</div>
