<% provide(:title, "User Profile") %>

<h1> <%= @person.name %> </h1>
<div class="container">
	<!-- Left Column -->
	<div class="col-md-3">
		<div class="profie_pic">
			<%= image_tag(@person.avatar, :size=> "150x150", :alt=> "profie_pic")%>
			<%= form_for(@person) do |f| %>
				<%= f.label :avatar, 'Change picture' %>
      	<%= f.file_field :avatar %>
			<% end %>
		</div>
	</div>

	<!-- Right Column -->

	<div class="form-group">
		<div class="col-md-4 title"> My Bio: </div>
		<div class="col-md-7 bio_box"> <%= @person.bio %> </div>
	</div>

		<div class="form-group">
			<div class="col-md-4 title"> Gender: </div>
			<div class="col-md-7 gender_box"> <%= @person.gender %> </div>
		</div>

		<div class="form-group">
	 		<div class="col-md-4 title"> Company: </div>
			<div class="col-md-7 company_box"> <%= @person.company %> </div>
		</div>



		<div class="form-group">
			<div class="col-md-4 title"> Address: </div>
			<div class="col-md-7 address_box"> <%= @person.address %> </div>
		</div>



	<div class="form-group">
		<label class="col-md-3 control-label"></label>
		<div class="col-md-8">
			<%= link_to 'Edit Profile' , edit_person_path %>
		</div>
	</div>
</div>
