<div class="container-fluid">
  <h1> Edit <%= @restaurant.name %> </h1>

  <%= form_for :restaurant, url: restaurant_path(@restaurant), method: :patch do |f| %>
    <p>
      <%= f.label :name %> <br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :avatar, 'Restaurant picture' %>
      <%= f.file_field :avatar %>
    </p>
    <p>
      <%= f.label :description, 'Restaurant description' %>
      <%= f.text_field :description %>
    </p>
    <p>
      <%= select_tag(:location_id, options_for_select(@locations), :prompt => "Select location.") %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>

  <%= link_to 'Back', restaurants_path %>
</div>
