
<h1> Listing all restaurants </h1>
<hr>
	<div class="container">

      <div class="col-md-3">
        <div class="text-center">
				  
				  
				  
        </div>
      </div>
      <div class="col-md-9">

        <h3>Restaurants Name</h3>

        <form class="form-horizontal" role="form">
          <% @restaurants.each do |restaurant| %>
          <div class="form-group">
          <div class="col-md-4 Nametag">Name</div>
            <div class="col-md-7 restaurantname"><%= restaurant.name %>
            <p><%= link_to "favorite", favorite_restaurant_path(restaurant,  type: "favorite"), method: :put %>
            <%= link_to "unfavorite", favorite_restaurant_path(restaurant, type: "unfavorite"), method: :put %>
            <%= link_to "view", restaurant_path(restaurant) %></p></div>
          </div>
          <% end %>
           <div class="form-group">
          <div class="col-md-4 restaurantname1"><%= link_to 'My profile', current_user %></div>
            <div class="col-md-7 restaurantname"><%= link_to 'New restaurant', new_restaurant_path %></div>
          </div>
        </form>
      </div>
      </div>
      </div>
      <hr>
