<%= will_paginate %>
<h1> Listing all restaurants </h1>
<hr>
	<div class="container">

      <div class="col-md-3">
        <div class="text-center">
				  
				  <h3>Here is all the Restaurant</h3>
				  <h3>click the restaurant view to see the info</h3>
				  <h3>choose which restaurant you like</h3>
				  
				  
        </div>
      </div>
      <div class="col-md-9">

  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <% if current_user %>
        <th><%= link_to "favorite", favorite_restaurant_path(restaurant,  type: "favorite"), method: :put %>
        </th>
        <th><%= link_to "unfavorite", favorite_restaurant_path(restaurant, type: "unfavorite"), method: :put %>
        </th>

        <th><%= link_to "view", restaurant_path(restaurant) %> </th>
        <td> <%= link_to Location.find(restaurant.location_id).name, location_path(restaurant.location_id) %> </td>
      <% end %>

    </tr>
  <% end %>

</table>


<%= link_to 'My profile', current_user %>
<%= link_to 'New restaurant', new_restaurant_path %>
