<%= form_for :restaurant, url: restaurants_path do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :avatar, 'Restaurant Picture' %>
    <%= f.file_field :avatar %>
  </p>
  <p>
    <%= f.label :description, 'Restaurant description' %>
    <p class="description_box">
      <%= f.text_field :description %>
    </p>
  <p>
  <p>
    <%= select_tag(:location_id, options_for_select(@locations), :prompt => "Select location.")%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
